.work-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .work-card {
        display: inline-flex;
        width: 48%;

        .work-card-head {
            font-weight: bold
        }

        .work-card-desc {
        }

        .work-card-tech {
            display: flex;
            flex-flow: row wrap;

            work-card-tech-item {
                padding: .5rem;
                border-radius: 1rem;

                &:not(:last-of-type) {
                    margin-right: .5rem
                }
            }
        }
    }
}
