#about-block {
    .app-meta {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: inline-block;
        margin-left: auto;
        background: $accentColor3;
        border-radius: 1rem;
        color: white;
        padding: .5rem 1rem;
    }

    .content-article {
        article {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    ul {
        padding-left: 2rem;
    }

    li {
        font-size: 1.4rem;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    h2 {
        text-shadow: none;
        font-size: 2.3rem;
        margin: 0 0 .5rem;
    }
}

#privacy-block {
    h2 {
        text-shadow: none;
        font-size: 2.3rem;

        &:not(:first-child) {
            margin-top: .5rem;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    p, ul, ol {
        font-size: 1.4rem;
    }

    ul, ol {
        padding-left: 2rem;
    }
}
