#eye {
    #InnerEye {
    }

    #Eyelid {
        transition: fill .3s ease;
        /*fill: url(#grad1);*/
    }
}

#page-transition {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -20rem);
    width: 30rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 2rem;
    background: $pBBackColor;
    color: $pBColor;
    transition: transform $easingDuration + 0.3 $mainEasing;
    z-index: 1000;
    box-shadow: 0.1px 0.8px 2.2px rgba(0, 0, 0, 0.084), 0.3px 2px 5.3px rgba(0, 0, 0, 0.121), 0.6px 3.8px 10px rgba(0, 0, 0, 0.15), 1.1px 6.7px 17.9px rgba(0, 0, 0, 0.179), 2.1px 12.5px 33.4px rgba(0, 0, 0, 0.216), 5px 30px 80px rgba(0, 0, 0, 0.3);

    &.active {
        transform: translate(-50%, 0);
    }

    #page-transition-inner {
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        padding: .3rem;
        background: $pBInnerBackColor;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
            mix-blend-mode: difference;
            color: black;
        }

        #prograss-bar {
            position: relative;
            z-index: 2;
            width: 10%;
            max-width: 100%;
            height: 100%;
            transition: width $easingDuration $mainEasing;
            border-radius: 1rem;
            background: $progressBarBackColor;
        }
    }
}

.article-header {
    overflow: hidden;
    padding: 0 0 0 .5rem;
    display: inline-block;
    word-break: break-all;
    margin: 1rem 0 2rem;

    h1 {
        margin: 0;
    }
}

.content-article {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    border-radius: $appBorderRadius;
    border: $appBorderThickness solid $appBorderColor;
    padding: $articlePadding;
    overflow: hidden;
    box-shadow: -15px -15px 0px 0px rgb(53, 0, 211);
    width: 100%;
}

#notification-container-list {
    position: fixed;
    top: 0;
    right: 2rem;
    transform: translate(0,-200%);
    display: flex;
    flex-flow: column wrap;
    z-index: 1001;

    &.active {
        transform: translate(0,1rem);
    }

    .notification-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;
        max-width: 35rem;
        color: white;
        box-shadow: 0px 0.9px 2.7px rgba(0, 0, 0, 0.093), 0px 2.2px 6.9px rgba(0, 0, 0, 0.133), 0px 4.4px 14.2px rgba(0, 0, 0, 0.167), 0px 9.1px 29.2px rgba(0, 0, 0, 0.207), 0px 25px 80px rgba(0, 0, 0, 0.3);
        transition: transform .3s $mainEasing,opacity .3s $mainEasing;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &.active {
            animation-name: TransDown, FadeOut;
            animation-duration: 500ms, 300ms;
            animation-delay: 0ms, 5000ms;
            animation-fill-mode: forwards, forwards;
            animation-timing-function: $mainEasing, $mainEasing;
        }

        &.Error {
            background-color: red;
        }

        &.Success {
            background-color: forestgreen;
        }

        &.Information {
            background-color: dodgerblue;
        }

        &.Warning {
            background-color: orange;
        }

        .notification-icon {
            margin-right: 1rem;
        }

        .notification-message {
            margin: 0;
            word-break: break-word;
        }
    }
}

#no-content {
    display: flex;
    flex-flow: column wrap;
    width: 30%;

    @include breakpoint($medium) {
        width: 40%;
    }

    svg {
        width: 100%
    }

    p {
        margin: 1rem auto 0;
    }
}
