#eye {
    @include breakpoint($medium) {
        display: none;
    }

    #Eyelid {
        transition: fill .3s ease;
    }
}

#page-transition {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -20rem);
    width: 30rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 2rem;
    background: $pBBackColor;
    color: $pBColor;
    transition: transform $easingDuration + 0.3 $mainEasing;
    z-index: 1000;
    box-shadow: 0.1px 0.8px 2.2px rgba(0, 0, 0, 0.084), 0.3px 2px 5.3px rgba(0, 0, 0, 0.121), 0.6px 3.8px 10px rgba(0, 0, 0, 0.15), 1.1px 6.7px 17.9px rgba(0, 0, 0, 0.179), 2.1px 12.5px 33.4px rgba(0, 0, 0, 0.216), 5px 30px 80px rgba(0, 0, 0, 0.3);

    &.active {
        transform: translate(-50%, 0);
    }

    #page-transition-inner {
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        padding: .3rem;
        background: $pBInnerBackColor;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
            mix-blend-mode: difference;
            color: black;
        }

        #prograss-bar {
            position: relative;
            z-index: 2;
            width: 10%;
            max-width: 100%;
            height: 100%;
            transition: width $easingDuration $mainEasing;
            border-radius: 1rem;
            background: $progressBarBackColor;
        }
    }
}

.article-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 0 0 .5rem;
    word-break: break-all;
    margin: 1rem 0 2rem;

    @include breakpoint($medium) {
        margin: 4rem 0 2rem;

        h1 {
            font-size: calc(4.5rem + 1vmin);
        }
    }

    h1 {
        margin: 0;
    }

    .header-links {

        @include breakpoint($x-small) {
            margin-top: 2rem;
        }

        .header-link {
            display: inline-block;
            text-align: center;
            @include shadow-btn;

            &:not(:last-of-type) {
                margin-right: .5rem;
            }
        }
    }
}

.content-article {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    border-radius: $appBorderRadius;
    border: $appBorderThickness solid $appBorderColor;
    padding: $articlePadding;
    overflow: hidden;
    box-shadow: -.8rem -.8rem 0px 0px darken($accentColor3,10%);
    width: 100%;
}

#notification-container-list {
    position: fixed;
    top: 0;
    right: 2rem;
    transform: translate(0,-200%);
    display: flex;
    flex-flow: column wrap;
    z-index: 1001;

    &.active {
        transform: translate(0,1rem);
    }

    .notification-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;
        max-width: 35rem;
        color: white;
        box-shadow: 0px 0.9px 2.7px rgba(0, 0, 0, 0.093), 0px 2.2px 6.9px rgba(0, 0, 0, 0.133), 0px 4.4px 14.2px rgba(0, 0, 0, 0.167), 0px 9.1px 29.2px rgba(0, 0, 0, 0.207), 0px 25px 80px rgba(0, 0, 0, 0.3);
        transition: transform .3s $mainEasing,opacity .3s $mainEasing;

        @include breakpoint($medium) {
            font-size: 1.2rem;
        }

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &.active {
            animation-name: TransDown, FadeOut;
            animation-duration: 500ms, 300ms;
            animation-delay: 0ms, 5000ms;
            animation-fill-mode: forwards, forwards;
            animation-timing-function: $mainEasing, $mainEasing;
        }

        &.Error {
            background-color: red;
        }

        &.Success {
            background-color: forestgreen;
        }

        &.Information {
            background-color: dodgerblue;
        }

        &.Warning {
            background-color: orange;
        }

        .notification-icon {
            margin-right: 1rem;
        }

        .notification-message {
            margin: 0;
            word-break: break-word;
        }
    }
}

#no-content {
    display: flex;
    flex-flow: column wrap;
    width: 40%;

    @include breakpoint($medium) {
        width: 60%;
    }

    @include breakpoint($small) {
        width: 70%;
    }

    svg {
        width: 80%;
        margin: auto;
    }

    p {
        margin: 1rem auto 0;
        font-size: 1.5rem
    }
}

.sidebar-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    transition: transform .5s $mainEasing;
    @include shadow-btn($padding:.5rem,$activeEffect:false,$color:$accentColor4);
    z-index: 2000;

    .sandwich-btn {
        height: 1.5rem;
        display: flex;

        .sandwich-inner {
            position: relative;
            margin: auto;

            &, &:before, &:after {
                display: block;
                background: black;
                height: .25rem;
                border-radius: 1rem;
                width: 2rem;
                transition: transform .3s $mainEasing;
            }

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: -0.6rem;
                transition: top .3s $mainEasing .12s,opacity .3s $mainEasing;
            }

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -0.6rem;
                transition: bottom .3s $mainEasing .12s,transform .3s $mainEasing;
            }
        }
    }

    &:hover {
        .sandwich-btn {
            .sandwich-inner {
                transform: rotate(180deg);

                &:before {
                    transform: translate3d(-0.5rem,0.2rem,0) rotate(-45deg) scaleX(0.7);
                }

                &:after {
                    transform: translate3d(-0.5rem,-0.2rem,0) rotate(45deg) scaleX(0.7);
                }
            }
        }
    }

    &.nav-active {
        .sandwich-btn {
            .sandwich-inner {
                transition: transform .3s $mainEasing .12s;
                transform: rotate(45deg);

                &:before {
                    transition: top .3s $mainEasing,opacity .3s $mainEasing .12s;
                    top: 0;
                    opacity: 0;
                }

                &:after {
                    transition: bottom .3s $mainEasing,transform .3s $mainEasing .12s;
                    bottom: 0;
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

#wasm-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-flow: column;
    animation: fadeIn 1s ease-in-out forwards;

    .message {
        color: black;
        margin: 1em auto auto;
        font-weight: bold;
        font-size: 2rem;
    }

    .spinner-box {
        width: 15em;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: auto auto 1em;
        position: relative;
    }

    .configure-border-1 {
        width: 7em;
        height: 7em;
        padding: 3px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    }

    .configure-border-2 {
        width: 7em;
        height: 7em;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        transform: rotate(45deg);
        animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    }

    .configure-core {
        width: 100%;
        height: 100%;
        background-color: $accentColor4;
    }
}
