#contact-block {
    display: flex;
    flex-flow: column wrap;

    .contact-block-inner {
        display: flex;
        flex-flow: row wrap;
    }

    .content-article {
        width: 60%;
        margin-right: auto;

        #contact-form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            @include breakpoint($medium) {
                input, textarea, label, button {
                    font-size: 1.2rem;
                }

                .validation-message {
                    font-size: 1rem;
                }
            }

            legend {
                position: relative;
                top: 0;
                left: 0;
                display: inline-block;
                margin-bottom: 1rem;
                font-size: 2rem;
                font-weight: bold;
                color: black;
            }

            button[type=submit] {
                padding: 1rem 3rem;
                border-radius: 1rem;
                margin-left: auto;
                background: white;
                border: .2rem solid $accentColor3;
                font-weight: bold;
                position: relative;
                overflow: hidden;
                z-index: 2;
                transition: color 2s ease-in-out;
                margin-top: .5rem;
                width: 100%;

                &:after {
                    content: "";
                    transition: transform 2s ease-in-out;
                    background: $accentColor3;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 0.1rem;
                    height: 0.1rem;
                    border-radius: 50%;
                    z-index: -1;
                    transform: scale(0);
                }

                &.active {
                    color: white;

                    &:after {
                        transform: scale(1000);
                    }
                }
            }
        }

        @include breakpoint($medium) {
            width: 100%;
        }
    }

    .contact-block-img-wrapper {
        display: flex;
        max-width: 40%;

        @include breakpoint($medium) {
            display: none;
        }

        svg {
            max-width: 50%;
            margin: 0 auto auto;
        }
    }
}

.form-input-wrapper {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 1rem 0;
    margin-bottom: .5rem;
    width: 100%;
    max-width: 100%;

    label {
        display: inline-block;
        position: absolute;
        left: 0rem;
        top: -.5rem;
        transform: translate(1rem,2.7rem);
        font-size: .9rem;
        transition: all $easingDuration $mainEasing;
        pointer-events: none;
    }

    .validation-message {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: -.5rem;
        color: white;
        background: red;
        border-radius: 2rem;
        padding: .5rem 1rem;
        color: white;
        font-size: .9rem;
        animation: TransDown .3s $mainEasing forwards;
        margin-bottom: 1rem;
    }

    .form-input {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        border: .25rem solid lightgray;

        &:focus {
            border-color: gray;
        }

        &:focus + label, &:not(:placeholder-shown) + label {
            transform: translate(0,0) scale(0.9);
            background: $accentColor3;
            border-radius: 2rem;
            padding: .5rem 1rem;
            color: white;
        }

        &.invalid {
            border-color: red;
        }
    }
}
