@mixin text-shadow ($par1: -6px,$par2: -6px,$par3: 0px,$par4: $accentColor3) {
    text-shadow: $par1 $par2 $par3 $par4;
    transition: text-shadow $easingDuration $mainEasing;

    &:hover {
        text-shadow: 0 0 $par4;
    }
}

@mixin underline {
    &:after {
        content: "";
        display: block;
        position: relative;
        margin-top: .25rem;
        height: $sidebarLinkBorderThickness;
        background: $sidebarLinkBorderColor;
        border-radius: 1em;
    }
}

@mixin margin-x($val) {
    margin-left: $val;
    margin-right: $val;
}

@mixin text-overflow($lines) {
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
}

@mixin shadow-btn($padding: 1rem,$activeEffect: true) {
    padding: $padding;
    color: black;
    text-align: center;
    border: solid $appBorderThickness $appBorderColor;
    border-radius: $appBorderRadius;
    font-weight: bolder;
    font-size: 1.2rem;
    box-shadow: -5px -5px 0px 0px rgb(53, 0, 211);
    background: white;

    @if $activeEffect {
        transition: box-shadow .3s $mainEasing,transform .3s $mainEasing;

        &:active {
            box-shadow: 0px 0px 0px 0px rgb(53, 0, 211);
            transform: translate(-5px,-5px) !important;
        }
    }
}
