/*Icon Font*/
$la-font-path: "../lib/line-awesome/dist/line-awesome/fonts";

/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');
$mainFont: 'Spline Sans', sans-serif;
$mainFont: 'Maven Pro', sans-serif;

/*Breakpoints*/
$x-small: max-width 575px;
$small: max-width 767px;
$medium: max-width 991px;
$large: max-width 1199px;
$x-large: max-width 1399px;
$xx-large: min-width 1400px;

$x-small-val: 575px;
$small-val: 767px;
$medium-val: 991px;
$large-val: 1199px;
$x-large-val: 1399px;
$xx-large-val: 1400px;

/*Colors*/
$accentColor1: #190061;
$accentColor2: #240090;
$accentColor3: #3500D3;
$accentColor4: #B058A4;
$accentColor5: #000000;

/*Global Styles*/
$appBorderRadius: 1rem;
$appBorderColor: $accentColor3;
$appBorderThickness: .5rem;
$articlePadding: 1rem;

//Easings
$easingDuration: .3s;
$mainEasing: cubic-bezier(.25,.8,.25,1);

/*Progress Bar*/
$pBBackColor: $accentColor3;
$pBInnerBackColor: $accentColor2;
$progressBarBackColor: white;
$pBColor: white;

/*Sidebar*/
$sidebarWidth: 22rem;
$sidebarBorderColor: $accentColor2;
$sidebarBorderThickness: .2rem;
$sidebarLinkColor: white;
$sidebarLinkBorderThickness: .2rem;
$sidebarLinkBorderColor: white;

/*Logo*/
$logoBackColor: $accentColor2;
$logoLettersColor: white;
$logoLettersSize: 5rem;
