<aside class="sidebar">
    <nav class="links">
        <div class="sidebar-logo-container">
            <Eye />
            <NavLink href="/"><Logo /></NavLink>
        </div>

        <ul>
            <li>
                <NavLink href="/dashboard" ActiveClass="active" Match="NavLinkMatch.All">Dashboard</NavLink>
            </li>
            <li>
                <NavLink href="/skills" ActiveClass="active" Match="NavLinkMatch.All">SKILLS</NavLink>
            </li>
            <li>
                <NavLink href="/work" ActiveClass="active" Match="NavLinkMatch.All">WORK</NavLink>
            </li>
            <li>
                <NavLink href="/blog" ActiveClass="active" Match="NavLinkMatch.All">BLOG</NavLink>
            </li>
            <li>
                <NavLink href="/contact" ActiveClass="active" Match="NavLinkMatch.All">CONTACT</NavLink>
            </li>
            <li>
                <NavLink href="/about" ActiveClass="active" Match="NavLinkMatch.All">ABOUT</NavLink>
            </li>
        </ul>
    </nav>
    <div class="sidebar-social">
        <ul>
            <li>
                <a href="https://stackoverflow.com/users/6843077/hmz"><i class="lab la-stack-overflow"></i></a>
            </li>
            <li>
                <a href="https://github.com/hmz777"><i class="lab la-github"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/hamzialsheikh/"><i class="lab la-linkedin"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/Hamzi.Alsheikh/"><i class="lab la-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/hamzi_alsheikh/"><i class="lab la-instagram"></i></a>
            </li>
            <li>
                <a href="mailto:hamzi_alsheikh@hotmail.com"><i class="las la-envelope"></i></a>
            </li>
        </ul>
    </div>
    <p class="sidebar-footer">
        © HAMZI ALSHEIKH @DateTimeOffset.Now.Year. <br /> ALL RIGHTS RESERVED.
    </p>
</aside>