@inherits LayoutComponentBase

<div class="page @ToggleState">
    <Sidebar />
    <main>
        <article class="content-block">
            @Body
        </article>
    </main>
    <NotificationContainer />
    <PageTransition />

    <button class="sidebar-toggle @ToggleState" @onclick="ToggleSidebar" type="button">
        <div class="sandwich-btn">
            <div class="sandwich-inner"></div>
        </div>
    </button>
</div>

@code {
    string ToggleState = "nav-active";

    void ToggleSidebar()
    {
        ToggleState = ToggleState == "nav-active" ? "" : "nav-active";
    }
}