@inherits TransitionPageBase<Work>
@page "/work"

<article id="work-block">
    <header class="article-header">
        <h1>Work</h1>
    </header>
    <article class="work-card-container">
        @if (WorkCards != null)
        {
            foreach (var item in WorkCards)
            {
                <WorkCard WorkProjectModel="item" />
            }
        }
    </article>
</article>