<article class="content-article">
    <article class="work-card">
        <header class="work-card-head">
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        </header>
        <p class="work-card-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <hr class="small-line" />
        <div class="work-card-tech">
            <span class="work-card-tech-item">C#</span>
            <span class="work-card-tech-item">C#</span>
            <span class="work-card-tech-item">C#</span>
        </div>
        <div class="work-card-stats">
            <div class="work-stat work-stars"><i class="las la-star"></i>2500</div>
            <div class="work-stat work-forks"><i class="las la-code-branch"></i>1500</div>
            <div class="work-stat work-link"><a href="#"><i class="las la-external-link-alt"></i>Go</a></div>
        </div>
    </article>
</article>