@implements IDisposable

<div id="page-transition" class="@Active">
    <div id="page-transition-inner">
        <span>Working...</span>
        <div id="prograss-bar"></div>
    </div>
</div>

@code {
    [Inject] TransitionPageService TransitionPageService { get; set; }

    string Active { get; set; } = "";

    protected override void OnInitialized()
    {
        TransitionPageService.Transition += Transition;
    }

    void Transition(bool state)
    {
        Active = state == false ? "" : "active";

        StateHasChanged();
    }

    public void Dispose()
    {
        TransitionPageService.Transition -= Transition;
    }
}